// aca van declaraciones que se mantienen a lo largo de todo el proyecto. 
// Ejemplo: tamaños de titulos, tipografias, reseteos,
$verde:#3bbab3;
$celeste: #7bc6e6;
$rosa:#db92c9;

// RESET 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

/* FONT */
@font-face {
    font-family: "gobold";
    src: url(./font/Gobold\ Regular.ttf);
}

@mixin flex-box ($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}