// Aca solo habria imports, no codigo
@import "base";

@import "components/header";
@import "components/footer";
// @import "components/enlaces";
// @import "components/tarjetas";


@import "pages/index";
@import "pages/enlaces-de-interes";
@import "pages/equipo-profesional";
@import "pages/nuestro-trabajo";
@import "pages/terapias";










/* -------------------------------------TABLET------------------------------------- */
@media only screen and (min-width:768px) {
// index
    .mapa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin: 0rem 1rem 1rem 1rem;
    }

    .mapa h2 {
        margin-left: 1rem;
        align-self: start;
    }

    .formulario-de-contacto,
    h2 {
        margin-left: 1rem;
        text-align: start;
    }

    select {
        margin-bottom: 1rem;
    }

    .formulario {
        text-align: start;
    }

    .form-input {
        width: 50vw;
        margin-bottom: 1rem;
    }

    .motivo-de-consulta-textarea {
        width: 77vw;
    }

    .button-tablet {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    // terapias
    .terapias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        align-items: center;
        padding-bottom: 2.5rem;
        padding-top: 1rem;

    }

    .terapias-reverse {
        direction: rtl;
    }

    .terapias-txt-corto {
        width: 35vw;
    }


    .terapias-img {

        width: 35vw;
        margin-left: 5rem;
        margin-right: 5rem;
    }

}

/* -----------------------------------------DESKTOP----------------------------------------- */
@media only screen and (min-width:1200px) {
  
    

    .motivo-de-consulta {
        display: flex;

    }

    .motivo-de-consulta-textarea {
        width: 50vw;
    }


    .terapias-grilla {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);

    }

    .terapias {
        display: flex;
        padding-bottom: 1rem;
        padding-top: 1rem;

    }



    .terapias-txt-corto {
        width: 35vw;
        text-align: center;
    }

    .terapias-img {

        width: 25vw;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}