/* COLORES DEL LOGO #7bc6e6 celeste  #3bbab3 verde   #db92c9 rosa*/
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

/* FONT */
@font-face {
    font-family: "gobold";
    src: url(./font/Gobold\ Regular.ttf);
}

/* MOBILE FIRST */

/* HEADER */
header {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

/* ENLACES DE CONTACTO */
.enlaces-de-contacto {
    /* grid-column: span 2;  hace falta? */
    display: flex;
    justify-content: end;
    background-color: #db92c9;
    align-items: end;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.bi {
    fill: #2b847f;
    margin-right: 1rem;
    text-shadow: 10px 10px 10px black;
}


.enlaces-txt {
    display: none;
}

.navbar-flex {
    display: none;
}

/* NAVBAR */
.enlaces-nav {
    list-style-type: none;
    font-family: "gobold";
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    color: #3bbab3;
}



/* --------------------------------------------INDEX----------------------------------------- */
/* PRESENTACION */
section h1 {
    font-family: "Nunito", sans-serif;
    font-style: italic;
    /* font-weight: bold; */
    font-size: 1.5rem;
    background-color: #db92c9;
    text-align: center;
}

.carousel,
.slide {
    padding: 0.5rem;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea,
select,
label {
    width: 200px;
    padding: 0;
    margin: 4px;
    box-sizing: border-box;
}

.formulario {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding-bottom: 1rem;
}

/* --------------------------------------------TERAPIAS----------------------------------------- */

.terapias {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 2rem;
padding-top: 1rem;

}

.modal-title {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #3bbab3;
    }

h2 {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
}
.terapias-img {
   width: 65vw;
   padding-bottom: 1rem;
}

.terapias-txt-corto {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    margin: 0rem 1rem 0rem 1rem;
    padding-bottom: 1rem;
}
.terapias-txt-largo {
    text-align: justify;
}
.btn-outline {
    /* background-color: #db92c9; */
    color: #3bbab3;
    border-width: 3px;
    border-color: #3bbab3;
    font-size: 1rem;
    font-weight: bold;
    

}


/* PIE DE PAGINA */
footer {
    font-family: "gobold";
    font-size: 1rem;
    text-align: center;
    background-color: #7bc6e6;
    position: sticky;
    bottom: 0;
    padding-top: 0.3rem;
}

footer .bi {
    fill: #ad6d9d;
    padding-bottom: 0.3rem;
}

/* -------------------TABLET------------------- */
/* @media only screen and (min-width:768px) {
    .nav-bootstrap {
        display: none;
    }
    .enlaces-txt {
        display: block;
    }

    .navbar-flex {

        display: flex;
    align-items: center;
    justify-content: space-evenly;
    }


    .logo {
        width: 100px;
        grid-column: span 1;
    }

    header ul {
        grid-column: span 1;
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        width: 80vw;
    }
    .enlaces-nav {
        list-style-type: none;
        font-family: "gobold";
        font-size: 1.2rem;
        font-style: normal;
        text-decoration: none;
        color: #3bbab3;
    }
    ul li a
    {
        list-style-type: none;
        font-family: "gobold";
        font-size: 1.2rem;
        font-style: normal;
        text-decoration: none;
        color: #3bbab3;
    }
} */

/* DESKTOP */
@media only screen and (min-width:1200px) {}