footer {
    font-family: "gobold";
    font-size: 1rem;
    text-align: center;
    background-color: #7bc6e6;
    position: sticky;
    bottom: 0;
    padding-top: 0.3rem;
}

footer .bi {
    fill: #ad6d9d;
    padding-bottom: 0.3rem;
}
